.app.light {
  --bg-header-color: #732121;
  --bg-color: #FAFAFA;
  --card-color: #FFFFFF;
  --border-color: #ffcfcf;
  --primary-color: #313131;
  --title-color: #000000;
  --theme-color: #313131;
  --file-color: #353865;

  --border-card-color: rgba(34, 51, 34, 0.2);
  --breadcrumbs-color: #7C7E93;
  --breadcrumbs-color-hover: #575965;

  --fullname-color: #464646;
  --avatar-color: #e8e3e3;

  --button-color: #1E1E1E;
  --button-bg: #ffcfcf;

  --label-color: #232323;

  --switcher-color: rgba(207, 210, 207, 0.5);
}
